
/*#cee145;*/
*{
	margin:0px;
	padding: 0px;
}
#main-banner{
	color: white;
    background: url(../images/bg1.jpg);
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-size: 100% 100%;

}
.main-sec-line{
	margin-top:12%;
    width: 100px;
    height: 5px;
    background-color:#cee145;
    
}
/*hesder-menu*/
.container {
  display: inline-block;
  cursor: pointer;
}
#text-color{
	h1{ line-height: 65px;
		font-size: 70px;
		font-weight: bolder;
	span{
	color:#cee145; 
}
}
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.header-section{

	max-width: 100%;
	text-align: center;


	
}
.header-logo{
	display: flex;
	
	span{
	
	p{
		font-size: 20px;
	}
}
}
.header-media{
	span i{margin-left: 20px;
	margin-right: 20px;}
}

#text-sec-one{
	
	P{
        transform: rotate(-90deg);
            
	}
}
.text-sec-two{padding: 150px 0px 0px 0px;}
.main-sec-one{
	

}


.footer-text-color{
	 word-spacing: 15px;
    font-size: 14px;
    font-weight: 600;
	p{
		margin-bottom: 0px;
		span{
			color:#cee145; 
		}
	}
}
.footer-fixed{
	position: absolute;
	bottom: 0px;
	max-width: 100%;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#b3b3b3;
   color: white;
   text-align: center;
   padding: 10px 0px 10px 0px;

}
.header-section{
	position: absolute;
	top: 0px;
	max-width: 100%;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   background-color:#b3b3b3;
   color: white;
  

}
.our-specialization{
	height:100vh;
	}
.specialization-img-trans{
	position: relative;
}
.right-specialization{
	display: flex;
	z-index: -1;
    background: url(../images/dots.png);
    background-repeat: repeat;
    width: 100%;
       padding: 380px 110px 0px 0px;
    transform: translate(-54px,-300px);
    position: absolute;
    left: 0;

}




.specialization-ourtext{
	display: inline-flex;
    position: relative;
    top: -145px;
    left: 60px;
   	span{
    font-weight: bolder;
    font-size: 20px;
    line-height: 130%;
    padding-top: 112px;
    padding-left: 10px;
   	}
   	p{
   
    font-weight: bold;
    font-size: 170px;
   
}
}

 .latest-project-header{
 	h1{
 	color: white;
    font-weight:bolder;
    margin-bottom: 50px;
 }  	
   
}

/*.right-specialization-dots{
	 background: url(../images/dots.png);
	 background-repeat: repeat;
	 height: 100%;
}*/
#latest-project{
	height:100vh;
    background: url(../images/bg2-6.jpg);
	width: 100%;
    object-fit: cover;
    background-size: 100% 100%;
    padding: 100px 0px 50px 0px;

    .latest-project-cols {
    	color: white;
    	text-align: left;
    	padding: 20px 20px 0px 20px;
    border: 1px solid #fff;
    width: 100%;
    min-height: 200px;
    margin-bottom: 30px;

    &:hover {
    	background-color: #cee145;
    	color: #000000;

        p{
            span{
    	      
    		  font-size: 18px;
    		
    		}
    	}
    }

    p{
    	
    	font-size: 25px;
    	font-weight: bolder;
    	span{
    		font-size: 18px;
    		color: #b3b3b3;
    	}
    }

    }
}


#our-partner{
	height:100vh;
	width: 100%;
   

}
.our-partner-columns{
	padding: 0px 70px 70px 0px;
}
.padd-top-bottom {
    padding: 100px 0px 50px 0px;
    float: left;
    width: 100%;
}
#testonomial{
	height:100vh;
	width: 100%;
	 background-size: 100% 100%;
	background: url(../images/bg3.jpg);

}
.padd-top-bottom {
    padding: 100px 0px 50px 0px;
    float: left;
    width: 100%;
}

#coffee-section{
	height:100vh;
	width: 100%;

}
.padd-top-bottom {
	padding: 100px 0px 50px 0px;
    float: left;
    width: 100%;
	h3{font-weight: bolder}
   
}
.mapouter{
	position:relative;
	text-align:right;
	height: auto;
	}
.gmap_canvas {overflow:hidden;
	background:none!important;
	}
#googleMap{
	width:100%;height:400px;
}

#header-logo {
	    text-align: left;
    margin-left: 10px;
	h2 {
		font-size: 23px;
		font-weight: bolder;
		line-height: 100%;
		margin: 0;
	}

	p {
		font-size: 14px;
		line-height: 100%;
		margin: 0;
	}
}

.header-section {
	padding: 10px 0px 10px 0px;



	p {
		margin: 0;
		font-size: 15px;
        font-weight: 500;
	}
}

.row {
	max-width: 72.5rem;
}

.rotated-text {
	position: relative;

	p {
		font-weight: 500;
       
	    transform: rotate(-90deg);
	    position: absolute;
	    left: -27%;
	}
}
.main-cont-specialization{
	h3{
		text-transform: uppercase;
		font-size: 30px;
		padding-bottom: 30px;

		span{
			color: #cee145;
		}
	}
}
.specialization-home-nav{
	ul{
		color: #0000007d;
		line-height:350%;
		margin-left: 0px;
		text-transform: uppercase;
		list-style-type: none;
		li{
		
	}



	
	}

}
/*.rotated-text
{
	position: relative;

	p {
		font-weight: 500;
       color:white;

	    transform: rotate(-90deg);
	    position: absolute;
	   
	}
}*/
.our-partner-heading{
	h1{
	padding-bottom: 80px;
}
}
.testonomial-left{
color: white;
 text-transform: uppercase;
i{
	font-size: 100px;
	color: #cee145; 
	margin-bottom: 100px;
}
}
.testonomial-right{
color: white;
}
.coffee-header{
	h1{
	padding-bottom: 80px;
	font-weight: bold;
}
}
.coffee-bottom-section{
	
	display: flex;
	h4{
		font-weight: bolder;
	}
	h5{
		font-weight: 400;
	}
	p{
		color: #8c8c8c;
	}
}
.coffee-bottom-section{
	
}

