@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700);

 


/* ICON STYLES - ICON FROM: http://fontastic.me/
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: "untitled-font-1";
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot");
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot#iefix") format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.woff") format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.ttf") format("truetype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "untitled-font-1";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-open-big { display: inline-block; }

.icon-up-open-big:after {
  content: "a";
  font-size: 2.5em;
  display: block;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  color: black;
  -webkit-transition: color .3s;
          transition: color .3s;
}

.icon-up-open-big:hover:after {
  color: white; 
}

.scroll-icon {
  position: absolute;
  left: 50%;
  bottom: 30px;
  padding: 0 10px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}



/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.l-left {
  float: left;
}

.l-right {
  float: right;
}

.end {
  /*margin-top: 30px;*/
  font-size: 3em;
  font-weight: bold;
  opacity: 0;
  -webkit-transform: translateY(300px);
      -ms-transform: translateY(300px);
          transform: translateY(300px);
  -webkit-transition: opacity, -webkit-transform 1s;
          transition: opacity, transform 1s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}



/* RESET-GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
* {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', Arial, sans-serif;
  text-transform: uppercase;
}*/

html {
/*  font-size: 62.5%;*/
}

/*body {
  color: black;
  letter-spacing: .18em;
}

a {
  text-decoration: none;
  color: white;
}

ul, li {
  list-style-type: none;
}*/



/* NAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-top {
 /* background: rgba(0, 47, 77, .3);*/
  height: 70px;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
  box-sizing: border-box;
}

h1 {
  line-height: 70px;
  height: 70px;
}

h1 a {
  display: block;
  padding: 0 10px;
}

.toggle-menu {
 width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    top: 0px;
}

.toggle-menu i {
  position: absolute;
  display: block;
  height: 2px;
  background: white;
  width: 30px;
  left: 10px;
  -webkit-transition: all .3s;
          transition: all .3s;
}

.toggle-menu i:nth-child(1) {
  top: 16px;
}

.toggle-menu i:nth-child(2) {
  top: 24px;
}

.toggle-menu i:nth-child(3) {
  top: 32px;
}

.open-menu i:nth-child(1) {
  top: 25px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.open-menu i:nth-child(2) {
  background: transparent;
}

.open-menu i:nth-child(3) {
  top: 25px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

nav {
  height: 0;
  opacity: 0;
  box-sizing: border-box;
/*  background: rgba(0, 47, 77, .25);*/
  position: fixed;
/*  top: 70px;*/
  width: 100%;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.open-menu ~ nav {
  opacity: 1;
/*  padding: 80px 0;*/
  z-index: 15;
  height: calc(90vh - 70px);
}

nav ul {
  padding: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

nav li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav li a {
  font-size: 2em;
  display: block;
  padding: 30px;
  text-align: center;
  -webkit-transition: background .3s;
  transition: background .3s;
}

nav li:nth-child(odd) a,
body.fp-viewing-fifthSection-1 #menu li:nth-child(5) a {
  background: #962D3E;
}

nav li:nth-child(even) a {
  background: #aa3346;
}

nav li:nth-child(odd) a:hover {
  background: #9e2f41;
}

nav li:nth-child(even) a:hover {
  background: #c53c52;
}

nav li.active a,
body.fp-viewing-fifthSection-1 #menu li:last-child a {
  background: #453659;
}
  


/* SECTION STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */




/* SLIDENAV STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
  background: white;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
  width: 16px;
  height: 16px;
  margin: -8px 0 0 -8px;
  background: transparent;
  box-sizing: border-box;
  border: 1px solid #24221F;
}



/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 767px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  nav li {
    margin-top: 1px;
  }
  
  nav li a {
    font-size: 1.5em;
  }
  
  .scroll-icon {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
  
  .open-menu ~ nav {
    padding: 20px 0;
  }

  nav li a {
    padding: 3px;
  }
}
.fp-tableCell {
  vertical-align: none;
  height: auto;
  
 /* display:flex;*/
}
#our-specialization, #our-partner {
    background-color:white!important;
}






*{
  margin:0px;
  padding: 0px;
}
#main-banner{
  color: white;
  background: url(../images/bg1.jpg);
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-size: 100% 100%;
}

.main-sec-line{
  margin-top:20%;
  width: 100px;
  height: 5px;
  background-color:#cee145;
    
}

/*hesder-menu*/
.container {
  display: inline-block;
  cursor: pointer;
}

#text-color{
	h1{ 
    line-height: 65px;
		font-size: 70px;
		font-weight: bolder;
    margin-top: 50px;
		span{
		  color:#cee145; 
	  }
  }
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 639px) {
	.header-log{

		a img{
			max-width: none;
		}
	}
}
.header-section{
background: transparent;
	max-width: 100%;
	text-align: center;	
  transition: background 0.7s;
}
.header-logo{
	display: flex;
	span{
	
  	p{
  		font-size: 20px;
  	}
  }
}
.header-media{

	span i{
  /*  margin-left: 20px;*/
	 margin-right: 20px;
  }
}
.text-sec-two{padding: 220px 0px 0px 0px;}
@media only screen and (max-width: 639px) { 
.text-sec-two{
 padding: 160px 0px 0px 0px;

}
}
.footer-text-color{
	 word-spacing: 15px;
    font-size: 14px;
    font-weight: 600;
	p{
		margin-bottom: 0px;
		span{
			color:#cee145; 
		}
	}
}
.footer-fixed{
  background: transparent;
 z-index: 1000;
 transition: background 0.7s;
 position: absolute;
 bottom: 0px;
 max-width: 100%;
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
/* background-color:#b3b3b3;*/
 color: white;
 text-align: center;
 padding: 10px 0px 10px 0px;
 float: left;
 width: 100%;

}
.header-section{
 position: absolute;
 top: 0px;
 max-width: 100%;
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 color: white;
}
.our-specialization{
	height:100vh;
   background-color: none;
	@media only screen and (max-width: 1023px) {
		height: 100%;
	}

}
.specialization-img-trans{
	position: relative;
}
.right-specialization{
	display: flex;
	z-index: -1;
  background: url(../images/dots.png);
  background-repeat: repeat;
  width: 100%;
  padding: 380px 110px 0px 0px;
  transform: translate(-54px,-300px);
  position: absolute;
  left: 0;
}
.specialization-ourtext{
  display: inline-flex;
  position: relative;
  top: -145px;
  left: 60px;
 	span{
  font-weight: bolder;
  font-size: 20px;
  line-height: 130%;
  padding-top: 112px;
  padding-left: 10px;
 	}

 	p{

  font-weight: bold;
  font-size: 170px;
  }
}

 .latest-project-header{
 	h1{
 	color: white;
  font-weight:bolder;
  margin-bottom: 50px;
  }  	   
}

#latest-project{
	height:100vh;
  background: url(../images/bg2-6.jpg);
	width: 100%;
  object-fit: cover;
  background-size: 100% 100%;
  padding: 100px 0px 50px 0px;

 .latest-project-cols {
    color: white;
    text-align: left;
    padding: 20px 20px 0px 20px;
    border: 1px solid #fff;
    width: 100%;
    min-height: 200px;
    margin-bottom: 30px;

    &:hover {
    	background-color: #cee145;
    	color: #000000;

      p{
        span{   
    		  font-size: 18px;
    		}
    	}
    }

    p{
      	
    	font-size: 25px;
    	font-weight: bolder;
    	span{
    		font-size: 18px;
    		color: #b3b3b3;
    	}
    }
 }
}


#our-partner{
	height:100vh;
	width: 100%;   
}
.our-partner-columns{
 padding: 0px 70px 70px 0px;
}

#testonomial{
	height:100vh;
	width: 100%;
	background-size: 100% 100%;
	background: url(../images/bg3.jpg);

}

#coffee-section{
	height:100vh;
	width: 100%;

}
.padd-top-bottom {
	padding: 100px 0px 50px 0px;
  float: left;
  width: 100%;
	h3{font-weight: bolder}
   
}
.mapouter{
	position:relative;
	text-align:right;
	height: auto;
	}
.gmap_canvas {overflow:hidden;
	background:none!important;
	}
#googleMap{
	width:100%;height:400px;
}

#header-logo {
	 text-align: left;
   margin-left: 10px;
	h2 {
		font-size: 23px;
		font-weight: bolder;
		line-height: 100%;
		margin: 0;
	}

	p {
		font-size: 14px;
		line-height: 100%;
		margin: 0;
	}
}

.header-section {
	padding: 30px 0px 10px 0px;

    z-index: 1000;

	p {
		margin: 0;
		font-size: 15px;
    font-weight: 500;
	}
  @media only screen and (max-width: 639px) { 
    padding: 0px 0px 10px 0px;
  }
}

.row {
	max-width: 72.5rem;
}

.rotated-text {
	position: relative;
	p {
		font-weight: 500;
    transform: rotate(-90deg);
	}
}
.main-cont-specialization{
	h3{
		text-transform: uppercase;
		font-size: 30px;
		padding-bottom: 30px;

		span{
			color: #cee145;
		}
	}
}
@media only screen and (max-width: 639px) {
	.main-cont-specialization h3 {
    text-transform: uppercase;
    font-size: 25px;
  }
}
.specialization-home-nav{
	ul{
		color: #0000007d;
		line-height:290%;
		margin-left: 0px;
		text-transform: uppercase;
		list-style-type: none;
	}
}
.rotated-text
{
	position: relative;

	p {
		font-weight: 500;

    transform: rotate(-90deg);
    position: absolute;  
	}
}
.our-partner-heading{
	h1{
	padding-bottom: 80px;
	font-weight: 500;
  }
}
.testonomial-left{
 color: white;
 text-transform: uppercase;
 i{
	font-size: 100px;
	color: #cee145; 
	margin-bottom: 100px;
 }
}

.slick-prev {
left: 265px;
}
.slick-next{
	right: 265px;
}
.testonomial-right{
	font-family: 'Marck Script', cursive;
color: white;
.slick-arrow {
  position: absolute;
  bottom: 0px !important;
  top: 100% !important;
  width: 40px;
  height: 40px;
  left: 15px;

  &.slick-prev {

  &:before {
 content: "\f053";
 font-family: "Font Awesome 5 Free";
 font-weight: 900;
 display: block;
 color: #ffffff;
 font-size: 25px;
 border: 1px solid;
 padding: 5px 25px 5px 10px;
 width: 40px;
 height: 40px;
 top: 25px;
 position: absolute;

	}
	}

	&.slick-next {
  margin-left: 50px;	
	&:before {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: block;
  color: #ffffff;
  font-size: 25px;
  border: 1px solid;
  padding: 5px 25px 5px 10px;
  width: 40px;
  height: 40px;
  top: 25px;
  position: absolute;
	}
	}
}
.testonomial-right {
    position: relative;
}
}


@media only screen and (max-width: 639px) {
	.testonomial-right{
	font-family: 'Marck Script', cursive;
  color: white;

}
.slick-prev {
    left: 125px;


}
.slick-next{
	right: 125px;
}
}
.coffee-header{
	padding-bottom: 20px;
	h1{
	padding-bottom: 80px;
	font-weight: bold;

}
}
@media only screen and (max-width: 639px) {
	.slick-prev:before, .slick-next:before{
		font-size: 35px;
    border: 1px solid;
	}
}




@media only screen and (max-width: 639px) {
.coffee-header{
	padding-bottom: 50px;

}
}

.coffee-bottom-section{
 
	margin-bottom: 50px;
	display: flex;
	h4{
		font-weight: bolder;
		margin-right: 35px;
	}
	h5{
		font-weight: bolder;
    font-size: 15px;
    word-break: break-all;

	}
	p{
		color: #8c8c8c;
    word-break: break-all;
	}
}
.coffee-bottom-section{

}
.rotated-text-latest {
	position: relative;
      color: white;
	p {
		font-weight: 500;
       
	    transform: rotate(-90deg);
	}
}
.rotated-text-partner{
	position: relative;
      
	p {
		font-weight: 500;
       
	    transform: rotate(-90deg);
	}

}
.rotated-text-testi{
	position: relative;
      color: white;
      top: 55px;
	p {
		font-weight: 500;
       
	    transform: rotate(-90deg);
	    position: absolute;
	    left: -170%;
	}

}

.header-contact p {
	word-break: break-all;
}
@media only screen and (max-width: 1023px) {
.header-contact p {
    word-break: break-all;
    font-size: 10px;
}
}

@media only screen and (max-width: 1023px) {
.header-media span i {
    
    margin-right: 20px;
    
}
}
@media only screen and (max-width: 600px) {
.specialization-ourtext{
	display: inline-flex;
    position: relative;
     top: -60px; 
    left: 60px;
	p{
		font-size: 75px!important;
	}
	span{ 
		font-size: 20px !important;
		    padding-top: 30px;
	 }

.specialization-ourtext {
    display: inline-flex;
    position: relative;
     top: -145px; 
     left: 60px; 
}

}
.main-cont-specialization h3 {
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 30px !important;
}

.specialization-ourtext{
	
	span{ 
		font-size: 20px !important;
	 }
}
}
@media only screen and (max-width: 1023px) {

	.margin-top-header {
		margin-top: 10px;
		text-align: right;

		p {
			font-size: 16px;
		}
	}
#latest-project  {
    height:100%; 
    background-size: 100%;
 }
}


@media only screen and (max-width: 639px) {
#our-partner {
  height:100%; 
 }
}
@media only screen and (max-width: 639px) {
#testonomial {
   height:100%; 
  }
}


@media only screen and (max-width: 639px) {
#coffee-section {
	 height:100%; 
	}
}

@media only screen and (max-width: 639px) {
 #main-banner{
	 height:100%; 
	}
}

.rotated-text-project p, .rotated-text p {
  font-weight: 500;
  transform: rotate(-90deg);
  white-space: nowrap;
  position: absolute;
  top: 20px;
  transform-origin: left;
  left: 20px;
  bottom: auto;
  right: auto;
  margin: 0;
  line-height: 100%;
}


.rotated-text-project p {
	color: #fff;
}
@media only screen and (max-width: 639px) {
  .latest-project-header-small{
  	text-align: center;
  }
}
@media only screen and (max-width: 639px) {
  .rotated-text-project {
  	p{
  	 padding-bottom: none!important;
     }
  }
}
@media only screen and (max-width: 639px) {
  	.header-menu{
  	/*	text-align: left;*/
  	}
  	.header-comunication{
  		order: 2;
  		text-align: right;


  		span i{
     margin-right: 10px;
     margin-left: 0px;
  	 }
     }

   .text-sec-two, #text-color{

  	h1{
  		font-size: 45px;
      line-height: 100%;

  		span{

  		 font-size: 45px;
  		}
  	}

   }
}
.coffee-section-border-right{
  border-right:1px solid #ccc;;
  padding: 0px 60px 0px 0px;
}

#coffee-section-border-right{
  border-right:1px solid #ccc;;
  padding: 0px 80px 0px 0px;
  height: 80%;
}
@media only screen and (max-width: 639px) {
  #coffee-section-border-right, .coffee-section-border-right{
    border: none;
    
  }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  #main-banner, #our-partner, #testonomial, #coffee-section, #latest-project, .our-specialization{
    height: 100%;
  }
}


.colored-bg {
  background: #b3b3b3;
  transition: background 0.7s;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#mySidenav {
  text-align: center;
  background: white;
  color: black;

}



